<div class="{{cssClass}}">
<div class="panel panel-default articles">
    <div class="panel-heading">
      {{title}}
      <ul *ngIf="withSetting" class="pull-right panel-settings panel-button-tab-right">
        <li class="dropdown">
          <a class="pull-right dropdown-toggle" data-toggle="dropdown">
            <em class="fa fa-cogs"></em>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <ul [innerHTML]="settingTemplate" class="dropdown-settings"></ul>
            </li>
          </ul>
        </li>
      </ul>
      <span class="pull-right clickable panel-toggle panel-button-tab-left">
        <em class="fa fa-toggle-up"></em>
      </span>
    </div>
    <div class="panel-body articles-container">
      <div class="article border-bottom">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-2 col-md-2 date">
              <div class="large">30</div>
              <div class="text-muted">Jun</div>
            </div>
            <div class="col-xs-10 col-md-10">
              <h4>
                <a href="#">Lorem ipsum dolor sit amet</a>
              </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci
                ornare risus finibus feugiat.</p>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <!--End .article-->


      <div class="article">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-2 col-md-2 date">
              <div class="large">24</div>
              <div class="text-muted">Jun</div>
            </div>
            <div class="col-xs-10 col-md-10">
              <h4>
                <a href="#">Lorem ipsum dolor sit amet</a>
              </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci
                ornare risus finibus feugiat.</p>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <!--End .article-->
    </div>
  </div>
  <!--End .articles-->
  </div>
