<div class="{{cssClass}}">
<div class="card">
  <img src="assets/images/full-screen-image-3.jpg" alt="John" style="width:100%">
  <h1>John Doe</h1>
  <p class="title">CEO & Founder, Example</p>
  <p>Harvard University</p>
  <div class="icon-bar">
    <a href="#">
      <i class="fa fa-dribbble color-brown"></i>
    </a>
    <a href="#">
      <i class="fa fa-twitter color-burlywood"></i>
    </a>
    <a href="#">
      <i class="fa fa-linkedin color-aquamarine"></i>
    </a>
    <a href="#">
      <i class="fa fa-facebook color-blue"></i>
    </a>
  </div>
  <div id="contact">
    <p>
      <button class="card-button">Contact</button>
    </p>
  </div>
</div>
</div>
