.card {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
  background-color: #FFFFFF;
  margin-bottom: 30px;
}

.card .header {
  padding: 15px 15px 0;
}

.card .category {
  font-size: 14px;
  font-weight: 400;
  color: #9A9A9A;
  margin-bottom: 0px;
}

.card .category i {
  font-size: 16px;
}

.card .title {
  margin: 0;
  color: #333333;
  font-weight: 300;
}

.card .footer {
  padding: 0;
  background-color: transparent;
  line-height: 30px;
}

.card .stats {
  color: #a9a9a9;
}

.card .footer div {
  display: inline-block;
}
